<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
    </environment>
    <environment exclude="Development">
      <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />-->
    </environment>

    <title>Micred</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta content="Micred" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.css" id="app-style" rel="stylesheet" type="text/css" />
    @RenderSection("StyleSheets", required: false)
</head>
<body data-sidebar="light">

    <header id="page-topbar">
        <div class="navbar-header justify-content-center">
            <div class="d-flex ">
                <!-- LOGO -->
                <div class="navbar-brand-box">


                    <h2 class="logo logo-dark text-center" asp-area="" asp-controller="Micred" asp-action="Index">
                        Micred
                    </h2>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-center text-sm-start">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> © Micred.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end text-center">
                        Design & Develop by Amat)))
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <!--<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>-->
    </environment>
    <environment exclude="Development">
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>-->
    </environment>
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
