<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <a asp-action="Categories" asp-controller="Micred" type="button" class="btn btn-secondary btn-lg" style="width:150px;height:100px;font-size:30px;">Client</a>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <a asp-action="Login" asp-controller="Account" type="button" class="btn btn-secondary btn-lg" style="width:150px;height:100px;font-size:30px;">Agent</a>
            </div>
        </div>
    </div>
</div>